.delete-student-modal {
    height: 200px;
    
    
    .ant-modal-content {
        position: relative;
        border: 1px black solid; 
        padding: 0;

        .ant-modal-header {
            background-color: #6182b6;
            justify-content: center;
            display: flex;
            height: 60px;
            align-items: center;
            margin: 0px;
            border-bottom: 1px solid black;
            border-radius: 6px;
        }

        .ant-modal-body {
            height: 80px;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                font-size: 20px;
                font-weight: 400;
            }
        }

        .ant-modal-footer {
            background-color: #6182b6;
            border-radius: 6px;
            margin: 0px;
            height: 60px;
           
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            border-top: 1px solid black;

            .delete-modal-button {
                border-radius: 5px;
                background-color: #00000000;;
                border: 1px solid black;
                color: black
            }

            .delete-modal-button:hover {
                background-color: #dadada71;
            }

            .delete-button {
                background-color: rgb(226, 106, 106);
                border: rgb(0, 0, 0) 1px solid;
                color: black;
            }

            .delete-button:hover {
                background-color: #ff9e9e5e;
            }
        }
    }
}