@import "../../../../../assets/variables/variables.scss";

.notification-dropdown {
    background-color: white;
    height: fit-content;
    width: 250px;
    position: absolute;
    left: -100px;
    top: 45px;
    border: 1px solid $site-blue-color;
    border-radius: 5px;
    z-index: 1;
    display: none;
    
    ul {
        margin: 15px 20px 15px 5px;
        padding: 0px;
        list-style: none;
    }
}