@import "../../assets/variables/variables.scss";

.dropdown-toggle {

  cursor: pointer;
  .dropdown__item {
    margin-left: 10px;
    padding: 10px;
    height: 30px;
  }
}

.dropdown-toggle.active {
  background-color: #aeb5b8;
}

.sidebar {
  background-color: #aeb5b8;
  padding-top: 10px;
  padding-left: 30px;
  height: calc(100vh - 30px);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
