.main-footer {
  background: linear-gradient(to bottom, #94a0b4, #486f92);
  height: 150px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inform__icons {
    display: flex;
    justify-content: center; 
    height: 30%;
    gap: 40px;
    margin-bottom: 10px;

    .icon__item {
      height: 30px;
    }
  }

  .bottom-element {
    margin: 10px;
    color: rgb(199, 183, 183);
  }

  .inform__header {
    margin: 0px 10px 0px 10px;
  }
}