@import "../../../assets/variables/variables.scss";

.table-container {
  
  .students-table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.4);
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

  
    th,
    td {
      width: 1%;
      white-space: nowrap;
      padding: 1rem;
    }
  
    th {
      background-color: $site-light-blue-color;
    }
  
    th.checkbox-cell {
      width: 5%;
    }
  
    th.options-buttons-cell {
      width: 10%;
    }
  
    .per__info__cell {
      width: 10%;
    }
    th.status-cell {
      width:10%;
    }
  
    th.gender-cell {
      width: 5%;
    }
  
    td {
      font-weight: 500;
  
      .status-circle {
        background-color: $site-light-blue-color;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: auto;
      }
  
      .green {
        background-color: $site-green-color;
      }
    }
  }  
}
